body {
    background-color: aqua;
}

.CardTop {
    background-image: url(/imges/1.jpg);
    background-color: aqua;
    position: relative;
}

.buyCard {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.308);
}

@media screen and (max-width: 480px) {
    .buyCard h3 {
        font-size: 10px;
    }

    .buyCard h2 {
        font-size: 8px;
    }

    .buyCard button {
        font-size: 10px !important;
        width: 80% !important;
        height: 1.5rem !important;
    }
}
@media screen and (max-width: 768px) {
    .buyCard h3 {
        font-size: 14px;
    }

    .buyCard h2 {
        font-size: 14px;
    }

    .buyCard button {
        font-size: 15px !important;
        width: 80% !important;
        height: 1.7rem !important;
    }
}